<!DOCTYPE html>
<html>
  <head>
    <title>Currency Converter - Result</title>
  </head>
  <body>
    <h1>Result</h1>
    <p><%= amount %> <%= from %> = <%= result %> <%= to %></p>
    <a href="/">Convert another currency</a>
  </body>
</html>
