<!DOCTYPE html>
<html>
  <head>
    <title>Currency Converter - Result</title>
    <link href="/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div>
      <h1>Result</h1>
      <p><%= amount %> <%= from %> = <%= result %> <%= to %></p>
      <a href="/">Convert another currency</a>
    </div>
  </body>
</html>
