body {
  background-color: #0c5b6e;
}

.title{
  color: #ffffff;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;

}
.selections {
  display: flex;
  justify-content: center;
}

.selection {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 6rem;
  transition: 100ms;
}

.selection:hover {
  transform: scale(1.2);
}

.results {
  margin-top: 1rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.result-score {
  margin-left: .1rem;
  font-size: 5rem;
  color: #ffffff;
}

.result-selection {
  opacity: .5;
  font-size: 2rem;
}

.result-selection.winner {
  opacity: 1;
  font-size: 2rem;
}