body{
    background-color: #122425;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

input{
    background-color: #122425;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    cursor: pointer;
  
}

button{
    background-color: #122425;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    cursor: pointer;
}

textarea{
  background: #2a4748;
    text-align: center;
    color: white;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 20px;
}